[submodule ".registry"]
	path = .registry
	url = https://github.com/kweinert/kweinert.r-universe.dev
	branch = HEAD
[submodule "shiny.gems"]
	path = shiny.gems
	url = https://github.com/kweinert/shiny.gems
